<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 扫描包 -->
	<context:component-scan base-package="com.liuhao" />

    <!-- 具体的实现bean,可以注解实现 -->
    <bean id="loginService" class="com.liuhao.user.impl.LoginServiceImpl" />

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="dubbo_provider" />

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry protocol = "zookeeper" address="192.168.56.132:2181" />

    <!-- 用dubbo协议在2888端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="2888" />

    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.liuhao.api.LoginService" ref="loginService" timeout="3000" />
</beans>