<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" >
	<!-- SpringIOC容器的web配置 -->
	<context-param> 
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:META-INF/spring/spring-dubbo.xml</param-value>
	</context-param>		   
	<!-- 配置生命周期实现类 实现ServletContext,init时加载SpringIOC容器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>